<div class="footer-left">
    <h3>Hello, Intern!</h3>
    <h5>Achmad Fikri Syofian</h5>
</div>
  <div class="footer-right">
    <img class="logo-footer-right" src="/public/pic/Logo 3 PT. Kinarya Utama Teknik.jpeg" alt="">
    <i
      class="fa-solid fa-bars"
      style="color: black"
      onclick="toggleDropdown()"
    ></i>
    <!-- Setting -->
    <div id="dropdown-menu" class="dropdown-menu">
      <a href="reset_password.html">Reset Password</a>
      <a href="login.html">Log Out</a>
    </div>
  </div>