<div class="sidebar">
    <div class="sidebar-content">
      <img
        class="logo-sidebar"
        src="/public/logo/Logo 1 removebg.png"
        alt="logo"
      />
      <div class="sidebar-item">
        <div class="menu-item" onclick="location.href='index.html'">
          <i class="fa-solid fa-house" style="color: #ffffff"></i>
          <span>Dashboard</span>
        </div>
        <div class="menu-item" onclick="location.href='attendance.html'">
          <i class="fa-solid fa-clipboard-user" style="color: #ffffff"></i>
          <span>Attendance</span>
        </div>
        <div class="menu-item" onclick="location.href='activity.html'">
          <i class="fa-solid fa-chart-line" style="color: #ffffff"></i>
          <span>Activity</span>
        </div>
        <div class="menu-item" onclick="location.href='history.html'">
          <i class="fa-solid fa-clock-rotate-left" style="color: #ffffff"></i>
          <span>History</span>
        </div>
        <div class="menu-item" onclick="location.href='project.html'">
          <i class="fa-solid fa-folder-plus" style="color: #ffffff"></i>
          <span>Project</span>
        </div>
        <div class="menu-item" onclick="location.href='assessment.html'">
          <i class="fa-solid fa-award" style="color: #ffffff"></i>
          <span>Assessment</span>
        </div>
      </div>
    </div>
  </div>